:root {
	--clr-main: #57428e;
	--clr-main-200: #9f8fc8;
	--clr-secodary: #f9ebc4;
	--clr-links: #eaab99;
	--clr-dark: #333333;
	--clr-white: #ffffff;
	--section-spacing: 3.5rem;
}

@media only screen and (min-width: 65em) {
	:root {
		--section-spacing: 5rem;
	}
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	text-rendering: optimizeSpeed;
	border: 6px solid var(--clr-main);
	font-size: 1.25rem;
	color: var(--clr-dark);
}

h1,
h3,
h4 {
	/*font-family: 'Playfair Display', serif;*/
	letter-spacing: 1px;
}

h1 {
	line-height: 1.3;
}

h3 {
	margin-top: 0
}

h4 {
	margin-bottom: 0;
	font-size: 1.1em
}

ul {
	list-style: none;
	padding-left: 0;
}

/* Fonts */

.title-medium {
	color: var(--clr-main);
	margin-bottom: 1em;
	font-size: 1.8rem;
}

/* Layout */

.container {	
    margin-left: auto;
    margin-right: auto;
    width: min(80ch,100vw - 4rem);
}

.grid {
	padding-top: 2rem;
	padding-bottom: 2rem;
    grid-gap: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30ch,1fr));
	align-items: center;
}

.home__section {
	margin: var(--section-spacing) 0;
}

.home__section > ul {
    grid-gap: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30ch,1fr));
}

/* Header */
.home__header {
	background-color: var(--clr-main);
	color: var(--clr-secodary);
	margin: .5%;
	padding-bottom: max(5vh,2rem);
    padding-top: max(5vh,2rem);
}

.rfm__bio {
	color: var(--clr-secodary);
}

.rfm__bio-img {
	width: 160px;
	height: 160px;
	border-radius: 0 15px 15px 15px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.rfm__bio-text>p {
	line-height: 1.7;
	font-weight: 300;
	font-size: 1.2rem;
}

.rfm__bio-mail {
	border-bottom: 1px solid var(--clr-links);
	color: var(--clr-links);
}

.rfm__bio-mail:hover {
	border-bottom: none;
	cursor: pointer;
}

.rfm__mail-btn {
	background-color: transparent;
	padding: .5em 1em;
	border: 1.5px solid var(--clr-links);
	color: var(--clr-links);
	margin-right: 1em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.rfm__mail-btn:hover {
	background-color: var(--clr-links);
	padding: .5em 1em;
	color: var(--clr-main);
	cursor: pointer;
}

.rfm__mail-message {
	color:var(--clr-links);
}

.list__tags {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	font-size: .8em;
}

.list__tags li {
	background-color: var(--clr-main-200);
	padding: .2em .4em;
	color: var(--clr-dark);
}

.home__section__extras ul li::before {
	content: "\2022";
	color: var(--clr-main);
	font-weight: bold;
	display: inline-block; 
	width: 1em;
}

/* Footer */

.rfm__footer {
	background-color: var(--clr-main);
	padding-block: 1em;
	color: var(--clr-secodary);
	text-align: center;
}

.rfm__footer p {
	margin: 0;
}

.rfm__social-list {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin-bottom: 1.5em;
}

.rfm__social-list li {
	width: 50px;
	font-size: 1.5em;
}

.rfm__social-list li a {
	color: var(--clr-secodary);
}

.rfm__social-list li a:hover {
	color: var(--clr-links);
}

@media only screen and (min-width: 600px) {

	.rfm__mail-message {
		display: inline;
	}

}

	.home__section__extras {
		margin-bottom: 3em
	}

	.home__section__extras h4 {
		margin-top: 16px;
	}

	.home__section__extras p {
		line-height: 1.6;
		letter-spacing: 1.2px;
	}

	.home__section__extras ul li {
		margin-bottom: 1em;
		font-size:1.1em;
	}

	.home__section__extras ul li a {
		text-decoration: none;
		border-bottom: 1px solid var(--clr-main);
		color: #333333
	}

	.home__section__extras ul li a:hover {
		color: var(--clr-main);
		border-bottom: none;
	}

@media only screen and (max-width: 765px) {

	.follow {
		text-align: center;
	}

}

@media only screen and (max-width: 560px) {


	.bio-img {
	    margin: 2em 0em 0em;
	}

}