:root {
    --clr-primary: #4ADF86;
    --clr-secondary: #10B981;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
}

@font-face {
    src: url("Karla-Regular.ttf");
    font-family: Karla;
}
@font-face {
    font-family: "Karla";
    src: url("Karla-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Karla";
    src: url("Karla-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("Inter-Medium.ttf");
}

body {
    margin: 0;
    background-color: #1C1C1C;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: Karla;
    font-weight: bold;
}

.container {
    background-color: #1F2937; 
    max-width: 460px;
    padding-block: 4em;
    padding-inline: 2em;
}

.block {
    padding-bottom: 2em;
    border-bottom: 2px solid #2F3E53;
}

.block-2 {
    padding-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

.block-2 p {
    background-color: #273549;
    padding: .7em 1em;
    border-radius: 10px;
}

h1 {
    font-weight: 900;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    margin-bottom: 0.3em;
}

h1 span {
    color: var(--clr-primary);
}

p {
    color: #D5D4D8;
    font-family: "Inter";
    margin-bottom: 2em;
}

button {
    background-color: var(--clr-secondary);
    border: none;
    color: #fff;
    padding: .8em 1em;
    border-radius:10px;
    cursor: pointer;
}

button:hover {
    background-color: #0b7a55;
    border: none;
    color: #fff;
}